<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>trangchucontroller</display-name>
    <servlet-name>trangchucontroller</servlet-name>
    <servlet-class>controller.trangchucontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>trangchucontroller</servlet-name>
    <url-pattern>/trangchucontroller</url-pattern>
  </servlet-mapping>
  <display-name>THI_HK</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>dangnhapcontroller</display-name>
    <servlet-name>dangnhapcontroller</servlet-name>
    <servlet-class>controller.dangnhapcontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dangnhapcontroller</servlet-name>
    <url-pattern>/dangnhapcontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>dangkicontroller</display-name>
    <servlet-name>dangkicontroller</servlet-name>
    <servlet-class>controller.dangkicontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dangkicontroller</servlet-name>
    <url-pattern>/dangkicontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>dangxuatcontroller</display-name>
    <servlet-name>dangxuatcontroller</servlet-name>
    <servlet-class>controller.dangxuatcontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dangxuatcontroller</servlet-name>
    <url-pattern>/dangxuatcontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>giocontroller</display-name>
    <servlet-name>giocontroller</servlet-name>
    <servlet-class>controller.giocontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>giocontroller</servlet-name>
    <url-pattern>/giocontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>giohangcontroller</display-name>
    <servlet-name>giohangcontroller</servlet-name>
    <servlet-class>controller.giohangcontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>giohangcontroller</servlet-name>
    <url-pattern>/giohangcontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>suagiohangcontroller</display-name>
    <servlet-name>suagiohangcontroller</servlet-name>
    <servlet-class>controller.suagiohangcontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>suagiohangcontroller</servlet-name>
    <url-pattern>/suagiohangcontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>xoaallgiohangcontroller</display-name>
    <servlet-name>xoaallgiohangcontroller</servlet-name>
    <servlet-class>controller.xoaallgiohangcontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>xoaallgiohangcontroller</servlet-name>
    <url-pattern>/xoaallgiohangcontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>xoacheckgiohangcontroller</display-name>
    <servlet-name>xoacheckgiohangcontroller</servlet-name>
    <servlet-class>controller.xoacheckgiohangcontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>xoacheckgiohangcontroller</servlet-name>
    <url-pattern>/xoacheckgiohangcontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>xoa1giohangcontroller</display-name>
    <servlet-name>xoa1giohangcontroller</servlet-name>
    <servlet-class>controller.xoa1giohangcontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>xoa1giohangcontroller</servlet-name>
    <url-pattern>/xoa1giohangcontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>xacnhangiohangcontroller</display-name>
    <servlet-name>xacnhangiohangcontroller</servlet-name>
    <servlet-class>controller.xacnhangiohangcontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>xacnhangiohangcontroller</servlet-name>
    <url-pattern>/xacnhangiohangcontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>dangnhap2controller</display-name>
    <servlet-name>dangnhap2controller</servlet-name>
    <servlet-class>controller.dangnhap2controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dangnhap2controller</servlet-name>
    <url-pattern>/dangnhap2controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>dangnhapxncontroller</display-name>
    <servlet-name>dangnhapxncontroller</servlet-name>
    <servlet-class>controller.dangnhapxncontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dangnhapxncontroller</servlet-name>
    <url-pattern>/dangnhapxncontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>lichsumuahangcontroller</display-name>
    <servlet-name>lichsumuahangcontroller</servlet-name>
    <servlet-class>controller.lichsumuahangcontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>lichsumuahangcontroller</servlet-name>
    <url-pattern>/lichsumuahangcontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminordercontroller</display-name>
    <servlet-name>adminordercontroller</servlet-name>
    <servlet-class>controller.adminordercontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminordercontroller</servlet-name>
    <url-pattern>/adminordercontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminloaicontroller</display-name>
    <servlet-name>adminloaicontroller</servlet-name>
    <servlet-class>controller.adminloaicontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminloaicontroller</servlet-name>
    <url-pattern>/adminloaicontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminsanphamcontroller</display-name>
    <servlet-name>adminsanphamcontroller</servlet-name>
    <servlet-class>controller.adminsanphamcontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminsanphamcontroller</servlet-name>
    <url-pattern>/adminsanphamcontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sp</display-name>
    <servlet-name>sp</servlet-name>
    <servlet-class>controller.sp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sp</servlet-name>
    <url-pattern>/sp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminchitietcontroller</display-name>
    <servlet-name>adminchitietcontroller</servlet-name>
    <servlet-class>controller.adminchitietcontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminchitietcontroller</servlet-name>
    <url-pattern>/adminchitietcontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>chitietsanpham</display-name>
    <servlet-name>chitietsanpham</servlet-name>
    <servlet-class>controller.chitietsanpham</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>chitietsanpham</servlet-name>
    <url-pattern>/chitietsanpham</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ctspcontroller</display-name>
    <servlet-name>ctspcontroller</servlet-name>
    <servlet-class>controller.ctspcontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ctspcontroller</servlet-name>
    <url-pattern>/ctspcontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>profilecontroller</display-name>
    <servlet-name>profilecontroller</servlet-name>
    <servlet-class>controller.profilecontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>profilecontroller</servlet-name>
    <url-pattern>/profilecontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>suakhachhangcontroller</display-name>
    <servlet-name>suakhachhangcontroller</servlet-name>
    <servlet-class>controller.suakhachhangcontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>suakhachhangcontroller</servlet-name>
    <url-pattern>/suakhachhangcontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>suamatkhaukhachhangcontroller</display-name>
    <servlet-name>suamatkhaukhachhangcontroller</servlet-name>
    <servlet-class>controller.suamatkhaukhachhangcontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>suamatkhaukhachhangcontroller</servlet-name>
    <url-pattern>/suamatkhaukhachhangcontroller</url-pattern>
  </servlet-mapping>
</web-app>